@import "./mixin.scss";
.shape {
  background: #edf2f6;
  border-radius: 0px 0px 0px 60px;
  width: 319px;
  height: 425px;
  position: absolute;
  right: -132px;
  z-index: -1;

  @include devices(tablet) {
    width: 705px;
    height: 427px;
    right: 0;
    }

}
